#ofio-overlay {
  position: fixed;
  left: 40%;
  top: 10px;
  z-index: 100;
  background: rgba(17, 24, 39, 0.6);
  padding: 0.5rem;
  border-radius: 0.5rem;
  backdrop-filter: blur(12px);
  color: white;
  font-family: Arial, sans-serif;
}
#ofio-overlay button {
  margin-top: 10px;
  width: 100%;
}
#ofio-overlay p {
  margin: 5px 0;
}

.ofio-tab-btn.active {
  border: 1px solid black;
  border-color: #e7e7e7;
}
